<%= form_with(model: drink, local: true) do |form| %>
  <% if drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col-lg-6">
    <%= form.label :name %>
    <%= form.text_field :name, id: :drink_name, class:"form-control"  %>
    </div>
  </div>

  <div class="field">
    <div class="col-lg-6">
    <%= form.label :milk %>
    <%= form.text_field :milk, id: :drink_milk, class:"form-control" %>
  </div>
</div>

  <div class="field">
    <div class="col-lg-6">
    <%= form.label :espresso %>
    <%= form.text_field :espresso, id: :drink_espresso, class:"form-control" %>
  </div>
</div>

  <div class="field">
    <div class="col-lg-6">
    <%= form.label :froth %>
    <%= form.text_field :froth, id: :drink_froth, class:"form-control" %>
  </div>
</div>

  <div class="field">
    <div class="col-lg-6">
    <%= form.label :picture %>
    <%= form.text_area :picture, id: :drink_picture, class:"form-control" %>
  </div>
</div>

    <div class="field">
      <div class="col-lg-6">
      <%= form.label :video_id %>
      <%= form.text_area :video_id, id: :video_id, class:"form-control" %>
    </div>
  </div>

  <div class="field">
    <div class="col-lg-6">
    <%= form.label :description %>
    <%= form.text_area :description, id: :drink_description, class:"form-control" %>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
