<%= form_with(model: drink, local: true) do |form| %>
  <% if drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :drink_name %>
  </div>

  <div class="field">
    <%= form.label :milk %>
    <%= form.text_field :milk, id: :drink_milk %>
  </div>

  <div class="field">
    <%= form.label :espresso %>
    <%= form.text_field :espresso, id: :drink_espresso %>
  </div>

  <div class="field">
    <%= form.label :froth %>
    <%= form.text_field :froth, id: :drink_froth %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_area :picture, id: :drink_picture %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :drink_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
