<p id="notice"><%= notice %></p>
<div id="carousel-example-generic" class="carousel slide text-center" data-ride="carousel">


  <!-- Wrapper for slides -->
  <%= link_to 'Add a New Espresso to this list?? Click Here', new_drink_path , class:"text-center carasoul-top" %>


    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h1><%= @drinks.first.name %></h1>

        <a href="<%= drink_path(@drinks[0]) %>"><img class="img-responsive center-block" src="<%= @drinks.first.picture %>" alt=""></a>

        <div class="carousel-caption">
        <%= @drinks.first.description %>
        </div>
    </div>

    <% @drinks.each do |drink| %>
      <% if !(@drinks.first == drink) %>
        <div class="item">
          <h1><%= drink.name %></h1>

          <a href="<%= drink_path(drink) %>"><img class="img-responsive center-block" src="<%= drink.picture %>" alt=""></a>
          <div class="carousel-caption">
            <%= drink.description %>
          </div>
        </div>
        <% end %>
     <% end %>


    </div>

    <!-- Controls -->
     <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>


<br>
