<p id="notice"><%= notice %></p>


<h1 class="drink-heading"> <%= @drink.name %> </h1>
<span ><%= link_to 'Edit', edit_drink_path(@drink) %></span>

  <br><%= image_tag '/'+@drink.picture ,class:"img-thumbnail"%>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Espresso
    <span class="badge badge-primary badge-pill"><%= @drink.espresso %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Milk
    <span class="badge badge-primary badge-pill"><%= @drink.milk %></span>
  </li>
  <li class="list-group-item flex justify-content-between align-items-center">
    Froth
    <span class="badge badge-primary badge-pill"><%= @drink.froth %></span>
  </li>
</ul>

<div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
  <div class="card-header">Description</div>
  <div class="card-body">
    <p class="card-text"><%= @drink.description %></p>
  </div>
</div>

<button id="videobutton">See Video</button>
<iframe id="showVideo" width="420" height="215" src="https://www.youtube.com/embed/<%=@drink.video_id%>?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
