<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong>Milk:</strong>
  <%= @drink.milk %>
</p>

<p>
  <strong>Water:</strong>
  <%= @drink.espresso %>
</p>

<p>
  <strong>Froth:</strong>
  <%= @drink.froth %>
</p>

<p>
  <%= image_tag @drink.picture %>
</p>


<p>
  <strong>Description:</strong>
  <%= @drink.description %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %>
