<div style = "color:red; font-size:20px">
<%=flash[:error]%>
</div>

<%= form_for @user , html: {multipart: true} do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email%>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password%>
  </div>

  <div class="field">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  </div>


  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
