<div style = "color:red; font-size:20px">
<%=flash[:error]%>
</div>

<%= form_for @user ,:validate => true  do |form| %>

  <div class="field">
    <div class="col-lg-6">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
    </div>
  </div>

  <div class="field">
    <div class="col-lg-6">

    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>
    </div>

  <div class="field">
    <div class="col-lg-6">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control" %>
    </div>
  </div>

  <div class="field">
    <div class="col-lg-6">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, class:"form-control"  %>
    </div>
  </div>


  <div class="field">
    <div class="col-lg-6">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control"  %>
  </div>
  </div>

  <div class="actions">
    <div class="col-lg-6">

    <%= form.submit %>
  </div>
</div>

<% end %>
