<p id="notice"><%= notice %></p>

<h1>Users</h1>
<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-10">
      Name: <%= link_to user.name , user%>
      <br/>
      Email <%=  user.email %>
      <br/>
      About : <%=  user.description %>
      <hr>
    </div>
  <% end %>
</div>


      <% if @current_user %>
        <%= link_to 'Edit', @current_user %>
        <%= link_to 'Destroy', @current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

<br>
