<p id="notice"><%= notice %></p>



<h1> Profile Details </h1>
<% if @user == @current_user %>
  Click here to <%= link_to 'Edit Your Profile', edit_user_path(@current_user) %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <u><strong>Bio</strong></u><br>
  <%= @user.description %>
</p>

<h2> Your Contribution to Drinks </h2>
<div class="list-group">
<% @user.drinks.each do |drink| %>


  <a href="<%= drink_path(drink) %>" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h4><%= drink.name %></h4>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1"><img class="user-image img-circle" src="<%= drink.picture %>" alt=""></p>
    <small class="text-muted"><%= drink.description %></small>
  </a>

<% end %>
</div>
