<!DOCTYPE html>
<html>
  <head>
    <title>iExpresso</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "rails.validations" %>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> Impresso Espresso </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="#contact">Contact</a></li>
                  <% if @current_user.present? %>
                      <li><%= link_to("Log Out", login_path, :method => :delete) %></li>
                  <% else %>
                      <li><%= link_to("Log In", login_path ) %></li>
                  <% end %>
                </ul>
            </div>
            <% if @current_user.present? %>
              Welcome, <%= @current_user.name %>
            <% else %>
              New User? <%= link_to("SignUp Here", new_user_path ) %>
            <% end %>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="text-center">
      <h1>Impresso Espresso</h1>
        <% if @current_user.present? %>
          Welcome, <%= @current_user.name %>
        <% else %>
          New User? <%= link_to("SignUp Here", new_user_path ) %>
      <% end %>
    </div>

    <%= yield %>




        <div id="contact" class="container-fluid bg-grey">
          <h2 class="text-center">CONTACT</h2>
          <div class="row">
            <div class="col-sm-5">
              <p>Contact</p>
              <p><span class="glyphicon glyphicon-map-marker"></span> Sydney, Australia</p>
              <p><span class="glyphicon glyphicon-phone"></span> +00 000000000</p>
              <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            </div>
          </div>
        </div>

  </body>
</html>
